{{ define "header" }}
<header class="site-header">
  <div class="container site-header__inner">
    <a class="site-title" href="./">{{ if .BrandLogoURL }}<img class="site-logo" src="{{ .BrandLogoURL }}" alt="{{ .SiteTitle }}">{{ else }}{{ .SiteTitle }}{{ end }}</a>
    {{ if .PrimaryMenu }}
    <nav class="site-nav">
      <ul>
        {{ range .PrimaryMenu }}
        <li><a href="{{ .URL }}">{{ .Label }}</a></li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </div>
</header>
{{ end }}
